<!--{%load static%}-->
<!--<footer id="dk-footer" class="dk-footer">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12 col-lg-4">-->
<!--                    <div class="dk-footer-box-info">-->
<!--                        <a href="index.html" class="footer-logo">-->
<!--                            <img src="{%static 'images/college.jpg'%}" alt="footer_logo" class="img-fluid">-->
<!--                        </a>-->
<!--&lt;!&ndash;                        <p class="footer-info-text">&ndash;&gt;-->
<!--&lt;!&ndash;                           Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.&ndash;&gt;-->
<!--&lt;!&ndash;                        </p>&ndash;&gt;-->
<!--                        <div class="footer-social-link">-->
<!--                            <h3>Follow us</h3>-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        <i class="fa fa-facebook"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        <i class="fa fa-twitter"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        <i class="fa fa-google-plus"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        <i class="fa fa-linkedin"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        <i class="fa fa-instagram"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End Social link &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Footer info &ndash;&gt;-->
<!--                    <div class="footer-awarad">-->
<!--                        <img src="images/icon/best.png" alt="">-->
<!--&lt;!&ndash;                        <p>Best Design Company 2019</p>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End Col &ndash;&gt;-->
<!--                <div class="col-md-12 col-lg-8">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="contact-us">-->
<!--                                <div class="contact-icon">-->
<!--                                    <i class="fa fa-map-o" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End contact Icon &ndash;&gt;-->
<!--                                <div class="contact-info">-->
<!--                                    <h3>Nepal Kathmandu</h3>-->
<!--                                    <p>8800 Kathmandu</p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Contact Info &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Contact Us &ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End Col &ndash;&gt;-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="contact-us contact-us-last">-->
<!--                                <div class="contact-icon">-->
<!--                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End contact Icon &ndash;&gt;-->
<!--                                <div class="contact-info">-->
<!--                                    <h3>9851672882</h3>-->
<!--                                    <p>Give us a call</p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Contact Info &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Contact Us &ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End Col &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Contact Row &ndash;&gt;-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12 col-lg-6">-->
<!--                            <div class="footer-widget footer-left-widget">-->
<!--                                <div class="section-heading">-->
<!--                                    <h3>Useful Links</h3>-->

<!--                                </div>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <a href="#">About us</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">Services</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">Projects</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">Our Team</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <a href="#">Contact us</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">Blog</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">Testimonials</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">Faq</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Footer Widget &ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End col &ndash;&gt;-->
<!--                        <div class="col-md-12 col-lg-6">-->
<!--                            <div class="footer-widget">-->
<!--                                <div class="section-heading">-->

<!--&lt;!&ndash;                                    <span class="animate-border border-black"></span>&ndash;&gt;-->
<!--                                </div>-->
<!--&lt;!&ndash;                                <p>&lt;!&ndash; Don’t miss to subscribe to our new feeds, kindly fill the form below. &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                Reference site about Lorem Ipsum, giving information on its origins, as well.</p>&ndash;&gt;-->
<!--                                <form action="#">-->
<!--                                    <div class="form-row">-->
<!--                                        <div class="col dk-footer-form">-->
<!--&lt;!&ndash;                                            <input type="email" class="form-control" placeholder="Email Address">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <button type="submit">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <i class="fa fa-send"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </button>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                                &lt;!&ndash; End form &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End footer widget &ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End Col &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Row &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; End Col &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; End Widget Row &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; End Contact Container &ndash;&gt;-->


<!--        <div class="copyright">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-6">-->
<!--                        <span>Copyright © 2019, All Right Reserved Seobin</span>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Col &ndash;&gt;-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="copyright-menu">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <a href="#">Home</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">Terms</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">Privacy Policy</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">Contact</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End col &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; End Row &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; End Copyright Container &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; End Copyright &ndash;&gt;-->
<!--        &lt;!&ndash; Back to top &ndash;&gt;-->
<!--        <div id="back-to-top" class="back-to-top">-->
<!--            <button class="btn btn-dark" title="Back to Top" style="display: block;">-->
<!--                <i class="fa fa-angle-up"></i>-->
<!--            </button>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Back to top &ndash;&gt;-->
<!--</footer>-->