{%extends 'layout.html'%}
{%load static%}
{%block title%}
<title>Homepage</title>
{%endblock title%}
{%block main_content%}
<div class="container">
    <div class="box">
        <h2>Search for<br>your<br> Better Future</h2>
        <div class="button1">
            <button type="submit">Get Started</button>
        </div>
        <div class="button2">
            <button>See College</button>
        </div>
    </div>
</div>
    <div class="image1">
         <img src="{%static 'images/3.png'%}" width="850px" alt="...">
    </div>

<div class="about">
    <h3>About Us</h3>
    <p>In most of the world, a college may be a high school or secondary school, a college of further education,<br>
        a training institution that awards trade qualifications, a higher-education provider that does not have <br>
        university status (often without its own degree-awarding powers), or a constituent part of a university.<br>
        In the United States, a college may offer undergraduate programs – either as an independent institution or <br>
        as the undergraduate program of a university – or it may be a residential college of a university or a community college,<br>
        referring to (primarily public) higher education institutions that aim to provide affordable and accessible education<br>
        , usually limited to two-year associate degrees.</p>
     <img src="{%static 'images/college.png'%}" width="600px" alt="...">
</div>
<div class="container4">
    <h3>We Provide Best College Of Your Kind</h3>
     <img src="{%static 'images/n1.jpg'%}" width="390px" alt="...">
     <img src="{%static 'images/n2.jpg'%}" width="390px" alt="...">
     <img src="{%static 'images/n3.jpg'%}" width="390px" alt="...">
     <img src="{%static 'images/n4.jpg'%}" width="390px" alt="...">
     <img src="{%static 'images/n5.jpg'%}" width="390px" alt="...">
     <img src="{%static 'images/n6.jpg'%}" width="390px" alt="...">


</div>

{%endblock main_content%}