{%extends 'layout.html'%}
{%load static%}
{%block title%}
<title>See College</title>
{%endblock title%}
{%block main_content%}
<div class="container-1">
    <div class="card mt-3" style="width: 19rem;height:27rem; margin-left:20px;border:2px solid green; border-radius:10px;position:absolute;">
  <img class="card-img-top" src="{%static 'images/softwarica.jpg'%}" width="850px" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Softwarica college of It and Ecommerce</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">See College</a>
</div>
</div>
  <div class="card mt-3" style="width:19rem; height:27rem; position-relative; margin-left:350px;border:2px solid green; border-radius:10px;">
  <img class="card-img-top" src="{%static 'images/bern.jpg'%}" width="850px" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Bernhardt College</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">See College</a>
  </div>
</div>
<div class="card" style="width: 18rem;height:27rem; position-relative; margin-top:-432px; margin-left:690px;border:2px solid green; border-radius:10px;">
  <img class="card-img-top" src="{%static 'images/islington.jpg'%}" width="850px" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Islington College</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">See College</a>
  </div>
</div>
<div class="card" style="width: 18rem;height:27rem; position-relative; margin-top:-432px; margin-left:1030px;border:2px solid green;border-radius:10px";>
  <img class="card-img-top" src="{%static 'images/nccs.jpg'%}" width="200px" height="200vh" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">NCCS COLLEGE</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">See College</a>
  </div>
</div>
</div>
{%endblock main_content%}
