{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock%}

{% block main_content %}

<div class="container22">
    <div class="imgse1">
     <img src="{%static 'images/3.png'%}">
        </div>
<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
          {% include 'messages.html'%}
        <div class="card py-5 px-4 bg-transparent">
             <h1 class="text-center">Login</h1>
        <form class="form myForm" action="" method="POST">
            {% csrf_token %}
            {{ form_login | bootstrap_horizontal }}
            <a href="#"> <button type="reset" class="btn btn-danger offset-md-9 mt-3">Forget Password?</button></a>
            <div class="btn4">
            <button type="submit" class="btn btn-primary mt-5">SIGN IN</button>
        </form>

    </div>
    </div>
</div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter username"
    form_fields[2].placeholder = "Enter password"

   for(field in form_fields){
   form_fields[field].className += ' my-3'
   }
</script>

{% endblock %}