{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock%}

{% block main_content %}

<div class="container22">
    <div class="imgse1">
     <img src="{%static 'images/college.jpg'%}">
        <h4>Welcome Back</h4>
        <p>Let’s face it, college is a big deal. <br>
            From applications to stepping on campus, College Khabar<br>
            has your back every step of the way.</p>
        </div>
<div class="row1">
    <div class="col-md-6 offset-md-3 mt-5">
          {% include 'messages.html'%}
        <div class="card py-5 px-4 bg-transparent">
             <h1 class="text-center">Login</h1>
        <form class="form myForm" action="" method="POST">
            {% csrf_token %}
            {{ form_login | bootstrap_horizontal }}
            <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
            <button type="submit" class="btn btn-primary mt-5">SIGN IN</button>
        </form>

    </div>
             <div class="for"><a href="/password_reset">Forget Password?</a></div>
            <div class="already"><a href="/register">Don't Have an Account Yet?</a> </div>
    </div>
</div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter username"
    form_fields[2].placeholder = "Enter password"

   for(field in form_fields){
   form_fields[field].className += ' my-3'
   }
</script>

{% endblock %}