{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
{% load static%}
<title>Change Password</title>
{% endblock title%}

{% block main_content %}

<div class="container25">

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center text-white mt-5 p-4">Password Change Completed</h1>
            <div class="card py-2 px-2 bg-success">
                <h4 class="text-center text-white">Congratulations! Your password has been changed successfully.</h4>

            </div>
            <div class="done">
                <a href="seecollege">
                    <button type="submit" class="btn btn-primary mt-5">Back To Homepage</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}